[project]
	description = GlusterD-2.0 is the distributed management framework to be used for GlusterFS-4.0
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nikhil Chawla (chawlanikhil24)
[access "refs/for/refs/*"]
	read = group user/Nikhil Chawla (chawlanikhil24)
	push = group user/Nikhil Chawla (chawlanikhil24)
	label-Code-Review = -2..+2 group user/Nikhil Chawla (chawlanikhil24)
	label-Verified = -1..+1 group user/Nikhil Chawla (chawlanikhil24)
	rebase = group user/Nikhil Chawla (chawlanikhil24)
	removeReviewer = group user/Nikhil Chawla (chawlanikhil24)
	submit = group user/Nikhil Chawla (chawlanikhil24)
[access "refs/heads/*"]
	read = group user/Nikhil Chawla (chawlanikhil24)
	create = group user/Nikhil Chawla (chawlanikhil24)
	push = +force group user/Nikhil Chawla (chawlanikhil24)
	pushMerge = group user/Nikhil Chawla (chawlanikhil24)
[access "refs/tags/*"]
	push = group user/Nikhil Chawla (chawlanikhil24)
	push = +force group user/Nikhil Chawla (chawlanikhil24)
